<mgl-map
  [style]="'mapbox://styles/mapbox/outdoors-v11'"
  [zoom]="[12]"
  [center]="[4.236673, 50.995208]"
  (load)="onLoad($event)"
  (move)="onMove()"
>
  <mgl-control
    mglNavigation
  ></mgl-control>

  <mgl-geojson-source
    id="routes"
    data="./data/routes.json"
  ></mgl-geojson-source>
  <mgl-layer
    id="routes-layer"
    source="routes"
    type="line"
    [paint]="{
      'line-color': '#85DD31',
      'line-width': 2
    }"
  ></mgl-layer>
  <ng-container *ngFor="let layer of layers">
    <mgl-geojson-source
      id="source-{{layer.id}}"
      data="./data/routes/{{layer.route}}.json"
    ></mgl-geojson-source>
    <mgl-layer
      id="layer-{{layer.id}}"
      source="source-{{layer.id}}"
      type="line"
      [paint]="{
      'line-color': '#579120',
      'line-width': 4
    }"
    ></mgl-layer>

  </ng-container>

  <mgl-marker *ngFor="let node of nodes$ | async"
              [lngLat]="node.location"
  >
    <button
      [disabled]="!isClickable(node.id)"
      [class.clickable]="isClickable(node.id)"
      (click)="selectNode(node.id)"
      class="node-marker"
    >{{node.number}}</button>
  </mgl-marker>

</mgl-map>
