<mgl-map
  [style]="'mapbox://styles/mapbox/outdoors-v11'"
  [zoom]="[12]"
  [center]="[4.236673, 50.995208]"
  (load)="onLoad($event)"
  (move)="onMove()"
  [fitBounds]="fitBounds"
  [fitBoundsOptions]="{padding: 200}"
>
  <mgl-control
    mglNavigation
  ></mgl-control>

  <!-- Routes -->
  <mgl-geojson-source
    id="routes"
    data="./data/routes.json"
  ></mgl-geojson-source>
  <mgl-layer
    id="routes-layer"
    source="routes"
    type="line"
    [paint]="{
      'line-color': '#579120',
      'line-width': 2
    }"
  ></mgl-layer>

  <!-- Routes connection last selected node -->
  <ng-container *ngFor="let layer of connectingRoutes">
    <mgl-geojson-source
      id="source-{{layer.id}}"
      data="./data/routes/{{layer.route}}.json"
    ></mgl-geojson-source>
    <mgl-layer
      id="layer-{{layer.id}}"
      source="source-{{layer.id}}"
      type="line"
      [paint]="{
      'line-color': '#579120',
      'line-width': 4
    }"
    ></mgl-layer>

  </ng-container>
  <!-- Selected route -->
  <ng-container *ngFor="let layer of selectedRoutes">
    <mgl-geojson-source
      id="selected-{{layer.id}}"
      data="./data/routes/{{layer.route}}.json"
    ></mgl-geojson-source>
    <mgl-layer
      id="selectedlayer-{{layer.id}}"
      source="selected-{{layer.id}}"
      type="line"
      [paint]="{
      'line-color': '#336699',
      'line-width': 4
    }"
    ></mgl-layer>

  </ng-container>

  <!-- Nodes -->
  <mgl-marker *ngFor="let node of nodes$ | async"
              [lngLat]="node.location"
              className="mapboxgl-marker mapboxgl-marker-anchor-center {{isClickable(node.id) ? 'clickable' : ''}}"
  >
    <button
      [disabled]="!(nodesClickable || isClickable(node.id))"
      [class.clickable]="isClickable(node.id)"
      (click)="selectNode(node.id)"
      class="node-marker"
    >{{node.number}}</button>
  </mgl-marker>

</mgl-map>
