<mgl-map
  [style]="'mapbox://styles/mapbox/outdoors-v11'"
  [zoom]="[12]"
  [center]="[4.236673, 50.995208]"
  (load)="onLoad($event)"
  (move)="onMove()"
>
  <mgl-control
    mglNavigation
  ></mgl-control>

  <mgl-geojson-source
    id="routes"
    data="./data/routes.json"
  ></mgl-geojson-source>
  <mgl-layer
    id="routes-layer"
    source="routes"
    type="line"
    [paint]="{
      'line-color': '#85DD31',
      'line-width': 2
    }"
  ></mgl-layer>
  <mgl-geojson-source
    *ngFor="let connection of connections"
    id="source-{{connection.route}}"
    data="./data/routes/{{connection.route}}.json"
  ></mgl-geojson-source>
  <mgl-layer
    *ngFor="let connection of connections"
    id="layer-{{connection.route}}"
    source="source-{{connection.route}}"
    type="line"
    [paint]="{
      'line-color': '#579120',
      'line-width': 4
    }"
  ></mgl-layer>

  <mgl-marker *ngFor="let node of nodes$ | async"
              [lngLat]="node.location"
  >
    <button
      [disabled]="!isClickable(node.id)"
      [class.clickable]="isClickable(node.id)"
      (click)="selectNode(node.id)"
      class="node-marker"
    >{{node.number}}</button>
  </mgl-marker>

</mgl-map>
