:host {
}

.container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
}

.node {
  margin: 0 auto;
  background: white;
  border: solid 2px black;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 22px;
}

.connections {
  flex: 1;
  margin: 0;
  padding: 25px 0;
  list-style: none;
  overflow: auto;

  li {
    margin: 0;
    padding: 0;
    position: relative;

    .distance {
      font-size: 12px;
      text-align: center;
      margin: 10px 0;
    }

    &:before {
      content: "";
      display: block;
      border-left: 2px dashed #BBB;
      position: absolute;
      top: -1.3em;
      bottom: 3em;
      left: 50%;
      z-index: -1;
    }
    &:first-child:before {
      display: none;
    }
  }
}

.total {
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, .2);
}
