:host {
  box-sizing: border-box;
  display: flex;
  padding: 25px;
  flex-direction: column;
}
.node {
    background: white;
    border: solid 2px black;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 22px;
}

.connections {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding-top: 5px;
    position: relative;

    .node {
      margin-top: 5px;
    }
    .distance {
      margin-left: 2.5em;
    }
    &:before {
      content: "";
      display: block;
      border-left: 2px dashed black;
      position: absolute;
      top: 0;
      bottom: 3em;
      left: 1.5em;
    }
  }
}
