:host {
  display: flex;
  height: 100%;
}
app-map {
  flex: 1;
}
app-sidepane {
  display: none;
}
@media screen and (min-width: 600px) {
  app-sidepane {
    display: block;
    width: 200px;
  }

}
